.nav-container {
    position: absolute;
    width: 1440px;
    height: 62px;
    left: 0px;
    top: 0px;
    background: #1890FF;

}

.nav-logo-text {
    color: #FFFFFF;
    margin-left: 40px ;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 1150px;
    width: 32px;
    height: 248px;
}

